<!doctype html>

<html lang="en">
	<head>
		<title>Swiss Metronome</title>
		<script src="js/vendor/zepto.min.js"></script>
		<script src="js/vendor/fx.js"></script>
		<script src="js/vendor/fx_methods.js"></script>
		<script src="js/vendor/underscore-min.js"></script>
		<script src="js/vendor/backbone-min.js"></script>
		<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

		<meta charset="utf-8" />
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1" />
		<meta name="description" content="The Swiss Metronome" />
		<meta name="author" content="Julian Klotz" />

  		<link rel="manifest" href="meta/manifest.json">

  		<!-- Add to home screen for Safari on iOS -->
  		<meta name="apple-mobile-web-app-capable" content="yes">
  		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  		<meta name="apple-mobile-web-app-title" content="Swiss Metronome">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/manifest.json">

		<meta name="theme-color" content="#ebebe8">

		<link rel="stylesheet" href="style/core.css"></link>
	</head>

	<body>
		<div id="overlay">
			<button class="js-hide-overlay button-circular">start</button>
		</div>

		<div id="root" class="container">

		</div>

		<script type="text/template" id="circle-animation">
			<div class="animation-content">
				<div id="c1">
					<svg width="200" height="200" version="1.1" xmlns="http://www.w3.org/2000/svg">
					<circle id="circle-inner" cx="100" cy="100" r="75" stroke="black" stroke-width="25" fill="transparent" style="animation-duration: <%= beatDuration %>s;" />
					</svg>
				</div>

				<div id="c2">
					<svg width="250" height="250" version="1.1" xmlns="http://www.w3.org/2000/svg">
				  	<circle id="circle-outer" cx="125" cy="125" r="112.5" stroke="black" stroke-width="25" fill="transparent" style="animation-duration: <%= barDuration %>s;" />
					</svg>
				</div>
			</div>
		</script>

		<script type="text/template" id="metronome-controls">
		<form>

			<div class="fl">
				<label class="">bpm</label><br />

				<input
				 	onClick="this.setSelectionRange(0, this.value.length)"
					class="form-control"
					id="js-input-bpm"
					type="number"
					step="1"
					value="<%= bpm %>"
					min="<%= bpmMin %>"
					max="<%= bpmMax %>" />
			</div>

			<div class="fl">
				<label class="">beats/bar</label><br />
				<input
					onClick="this.setSelectionRange(0, this.value.length)"
					class="form-control"
					id="js-input-meter"
					type="number"
					step="1"
					value="<%= meter %>"
					min="1"
					max="10" />
			</div>
			<div class="fl">&nbsp;
			</div>
			<div class="fl">
				<button id="js-tap-button">tap</button>
				<button id="js-btn-toggle-mute" class="btn-mute"><span class=" fas <%= isMuted === true ? 'fa-volume-up' : 'fa-volume-off' %>"></span></button>
			</div>


			<div class="clear"></div>
		</form>
		</script>

		<script type="text/template" id="speed-trainer">
<form>
		<p class="speed-trainer-headline">speed trainer</p>
		<div class="fl">
			<label class="label-small">from</label><br />
			<input  onClick="this.setSelectionRange(0, this.value.length)"  id="js-speedtrainer-from" type="number" value="<%= from %>" />
		</div>
		<div class="fl">
			<label class="label-small">to</label><br />
			<input  onClick="this.setSelectionRange(0, this.value.length)"  id="js-speedtrainer-to" type="number" value="<%= to %>"/>
		</div>
		<div class="fl">
			<label class="label-small">step</label><br />
			<input id="js-speedtrainer-stepsize" type="number"  onClick="this.setSelectionRange(0, this.value.length)"  value="<%= stepSize %>" />
		</div>

		<div class="fl">
			<button id="js-btn-toggle-trainer"><%= isRunning === true ? 'stop' : 'start' %></button>
		</div>
		<div class="clear" style="margin-bottom: 22px;"></div>
		<% if( isRunning ) { %>
			<label class="label-small" style="width: initial; ">current speed</label><br />

			<% for( var i = 0; i < steps.length; i++) { %>
				<span class="speed-trainer--step <% if( steps[i] === currentSpeed) { %>  current <% } %>"><%= steps[i] %></span>

			<% } %>
		<% } %>


	</form>
		</script>

		<script type="text/template" id="metronome">
		<!--
		<% if(isMuted === true ) { %>
			<div class="black-curtain"></div>
		<% } %>

		<button id="js-btn-mute" class="btn-mute">
			<% if(isMuted === true ) { %>
				start
			<% } else if (isMuted === false ) { %>
				mute
			<% } %>

		</button>
		-->

			<div class="animation-node"></div>
			<div class="metronome-controls-node"></div>
			<div class="speed-trainer-node"></div>

		</script>
		</script><script src="js/application/application.js"></script>
	</body>
</html>
