input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.btn-mute {
  background-color: transparent;
  border: 1px solid #272727;
  top: 24px;
  position: fixed;
  right: 24px;
  border-radius: 24px;
  width: initial;
  width: 48px;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out; }
  .btn-mute:hover {
    background-color: transparent;
    opacity: 1; }

.stepper {
  color: #999; }

.black-curtain {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0; }

label {
  font-weight: bold;
  margin-right: 48px;
  width: 100px;
  display: inline-block; }

.clear {
  clear: both; }

.speed-trainer-headline {
  margin-top: 36px;
  margin-bottom: 24px;
  font-weight: bold; }

.label-small {
  width: 50px; }

.fl {
  float: left;
  width: 25%; }

body, button, input {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 24px; }

body {
  background-color: #ebebe8;
  padding: 0;
  margin: 48px 0 0 0; }

input {
  width: 100px;
  border: none;
  background: transparent;
  padding-left: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold; }

button {
  border-radius: 4px;
  background-color: #b0bbb8;
  display: block;
  width: 100%;
  margin: 0;
  padding: 12px 0;
  border: none;
  font-weight: bold; }
  button:hover {
    background-color: #95a39f;
    color: #272727;
    transition: background-color 0.2s ease-in-out; }
  button:active {
    color: #272727;
    background-color: #6e7e79;
    transition: background-color 0.05s ease-in-out; }

.container {
  margin: 0 auto;
  max-width: 480px;
  padding: 0 24px 24px 24px; }

/**** */
@keyframes dash {
  0% {
    stroke-dashoffset: 0;
    opacity: 0; }
  100% {
    stroke-dashoffset: 1414;
    opacity: 1; } }
@keyframes pulse {
  0% {
    r: 70;
    opacity: 0.7; }
  5% {
    r: 75;
    opacity: 1; }
  100% {
    r: 70;
    opacity: 0.7; } }
#circle-inner {
  stroke: #7A8B86; }

#circle-outer {
  stroke: #9E7F6B; }

.animation-content {
  margin-bottom: 48px;
  overflow: hidden;
  position: relative;
  width: 250px;
  height: 280px;
  margin: 0 auto; }
  .animation-content div {
    position: absolute; }
  .animation-content rect {
    display: none; }
  .animation-content #c1 circle {
    animation: pulse 0.5s linear infinite; }
  .animation-content #c1 {
    top: 25px;
    left: 25px; }
  .animation-content #c2 circle {
    stroke-dasharray: 707;
    animation: dash 2s linear infinite alternate; }

#overlay {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px); }

.button-circular {
  position: absolute;
  top: calc(50% - 46px);
  left: calc(50% - 46px);
  width: 88px;
  height: 88px;
  border-radius: 50%;
  border: 4px solid white; }

.speed-trainer--step {
  padding-right: 1rem; }

.speed-trainer--step.current {
  font-weight: bold; }

/*# sourceMappingURL=core.css.map */
