
/* --- LAYOUT --- */

.relative
  position: relative
  padding-left: 2.5rem

.btn-getting-there-wrap
  border-top: 1px solid #cfcfcf
  padding: $base-line-height 0
  text-align: center
  
  button
    width: 100%
    max-width: 30 * $base-font-size


body.js-enabled 
  .collapse-wrap
    max-height: 0

  
.collapse-block

  border-top: 1px solid #cfcfcf

  .collapse-toggle
    
  
    span
      background: url('../example/img/caret.png') 100% 50% no-repeat
      background-size: 2em
      bottom: 0
      position: absolute
      left: 0
      top: 0
      transition: transform .3s
      width: 2em
      z-index: 10
  
    padding: $base-line-height 0
    margin: 0
    cursor: pointer
    position: sticky
    top: 0
    
  .collapse-wrap
    overflow: hidden
    transition: max-height .3s ease-in-out
  
  &.js-open
    .collapse-toggle
      border-bottom: 1px solid #cfcfcf
      
      span
        transform: scaleY(-1)

    .collapse-wrap 
      max-height: 1000px


.collapse-toggle
  position: sticky
  background-color: white

img
  max-width: 100%
  height: auto

.bar
  background-color: #F2EEE7
  text-align: right
  border-radius: 4px
  margin: $base-line-height 0
  padding: 0 $base-font-size

.bar, .bar-item
  padding-top: $base-line-height / 2
  padding-bottom: $base-line-height / 2

.bar-item
  padding: $base-line-height/2 .5rem

  &:last-child
    padding-right: 0



.attribute
  @extend .text-incredibly-small
  border-width: 1px
  border-style: solid
  padding: .1rem .3rem

.attribute-item
  @extend .tabular
  @extend .text-small
  margin-right: .5rem
  display: block
  float: left
  min-width: 5rem

.rounded-label
  @extend .text-incredibly-small
  text-transform: uppercase
  font-weight: bold
  padding-left: $base-font-size / 2
  padding-right: $base-font-size / 2

.pro-label
  @extend .rounded-label
  background-color: #c0cc56

.premium-label
  color: white
  @extend .rounded-label
  background-color: #036880

.difficulty-medium
  border-color: #e30613
  color: #e30613

.oax-icon-star
  color: #cfcfcf

  &.active
    color: #a6b339

.cat-icon
  vertical-align: middle
  margin: -12px 0 0 0
  max-width: 1.5rem
  height: auto


.author-recommends-label
  font-weight: bold


.clearfix
  clear: both

body
  background-color: #F2EEE7

#wrapper
  background-color: white

.fl
  float: left
.fr
  float: right

.no-margin-top
  margin-top: 0 !important

.no-margin-bottom
  margin-bottom: 0


.margin-bottom-dot5
  margin-bottom: $base-line-height / 2

.margin-bottom-2
  margin-bottom: $base-line-height * 2

.margin-bottom-3
  margin-bottom: $base-line-height * 3

.margin-top-dot5
  margin-top: $base-line-height / 2

.margin-top-1
  margin-top: $base-line-height

.margin-top-1dot5
  margin-top: $base-line-height * 1.5

.margin-top-2
  margin-top: $base-line-height * 2

.margin-top-3
  margin-top: $base-line-height * 3
.group:after
  content: ""
  display: table
  clear: both




