$base-font-size: 16px
$base-line-height: 22px

$base-bg-color: rgba(240, 240, 240, .5)

@import 'debug'
@import 'layout'


html, input, option, select, textarea, button

  font-family: "Alto Pro", Helvetica, Arial, sans-serif

  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;

  color: #3f3f3f

  -webkit-font-smoothing: subpixel-antialiased
  font-feature-settings: "kern" on, "liga" on, "calt" on, "onum", "pnum"
  -moz-font-feature-settings: "kern" on, "liga" on, "calt" on, "onum", "pnum"
  -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on, "onum", "pnum"
  -ms-font-feature-settings: "kern" on, "liga" on, "calt" on, "onum", "pnum"
  -o-font-feature-settings: "kern" on, "liga" on, "calt" on, "onum", "pnum"
  -webkit-hyphens: auto
  -moz-hyphens: auto
  -ms-hyphens: auto
  hyphens: auto

html, input, option, select, textarea, button
  font-size: $base-font-size
  line-height: $base-line-height

h1, .fake-h1
  font-size: 2 * $base-font-size
  line-height: 2 * $base-line-height
  margin: 2 * $base-line-height 0 $base-line-height 0

h2, .fake-2
  font-size: 1.33333333333 * $base-font-size
  line-height: 2 * $base-line-height
  margin: $base-line-height 0

h3, .fake-h3
  font-size: 1.2 * $base-font-size
  line-height: $base-line-height
  margin: $base-line-height 0

h4, .fake-h4
  font-size: $base-font-size
  line-height: $base-line-height
  margin: $base-line-height 0 0 0

h5, .fake-h5, small, .small
  font-size: 0.8888888889 * $base-font-size
  line-height: $base-line-height


h5, .fake-h5
  margin: $base-line-height 0 0 0

sup
  font-size: 0.7777777778 * $base-font-size

h6, .fake-h6, .incredibly-small
  font-size: 0.7777777778 * $base-font-size
  line-height: $base-line-height
  margin: $base-line-height 0 0 0

code
  font-family: "Menlo", "Andale Mono", monospace
  font-size: 0.8888888889 * $base-font-size
  line-height: $base-line-height
  background-color: $base-bg-color

blockquote
  padding-left: .5em
  border-left: 4px solid #e7e7e7
  margin: 0 0 $base-line-height 0

p
  margin: $base-line-height 0

ul, ol
  padding: 0 0 0 $base-font-size
  list-style-position: outside

li
  margin: 0
  padding-left: .5em

li + li
  margin-top: $base-line-height / 2

ul, ol
  margin: $base-line-height /2 0 $base-line-height /2 0

label
  display: inline-block
  max-width: 100%
  font-weight: 700
  font-size: 0.8888888889 * $base-font-size
  line-height: $base-line-height

  &.form-checkbox-label
    font-weight: normal
    display: block
    padding: 11px 0


button
  $pad: $base-line-height / 2
  padding: $pad 1em
  margin: 0
  background-color: #c0cc56
  border-radius: 3px
  border: none

button::-moz-focus-inner
  border: 0
  padding: 0

button
  &.medium
    margin: (1 / 6 * $base-line-height) 0
    padding: 7px 1em
    margin: 4px 0

  &.small
    $pad: 0


form
  margin: #{$base-line-height} -2em

fieldset
  background-color: $base-bg-color
  border: none
  border-top: 1px solid white
  border-bottom: 1px solid white
  padding: $base-line-height / 2 2em
  margin: 0

fieldset + fieldset
  border-top: none

.fieldset-headline
  text-transform: uppercase
  color: #6f6f6f
  letter-spacing: .05 * $base-font-size
  @extend small

.tabular
  font-feature-settings: "tnum"

.form-group + .form-group
  margin-top: 1.5 * $base-line-height

.form-group
  margin: $base-line-height 0

.form-control
  display: block
  width: 100%
  max-width: 100%
  // border 1px + pad 6px + line height 22px + pad 6px + border 1px
  padding-top: 6px
  padding-bottom: 6px

  margin-top: 8px
  margin-bottom: 0px

  border-radius: 3px
  border: 1px solid #cfcfcf

.help-block
  margin-top: $base-line-height / 2
  color: #6f6f6f
  @extend small

input
  padding-left: .5em
  padding-right: .5em
  background-color: white

textarea.form-control
  height: 3 * ($base-line-height) + 2 * 6px
  margin-top: 8px
  margin-bottom: 0


