* {
	margin: 0px;
	padding: 0px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


body {
	background-color: #0049A8;
	font-family: 'Futura', -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	font-size: 32px;
	padding: 32px;
	color: white;
	//font-weight: bold;
}

#container {
	
	transform: scale( .5 );
	top: calc(50% - 350px);
	left: calc(50% - 250px);
	width: 500px;
	height: 700px;
	max-width: 640px;
	margin: 0 auto;
	position: absolute;
	background-color: #00449D;
	box-shadow: 0 1px 4px 2px rgba(0,0,0,.2);
	overflow: hidden;	
	transition: .5s ease-in-out all;
	
}


/* base width: 500px, padding 32px */

/*
Viewport of 320px: approx. scale .5
Viewport of 360px: approx. scale .5
Viewport of 400px: approx scale 0.65
Viewport of 440px: approx scale 0.75
Viewport of 480 px: scale .8
Viewport of 540 px: scale .95
Viewport of 580 px: scale 1
*/

@media screen and (min-width: 360px ) {
	#container {
		transform: scale( .59 );
	}
}
@media screen and (min-width: 400px ) {
	#container {
		transform: scale( .65 );
	}
}
@media screen and (min-width: 440px ) {
	#container {
		transform: scale( .75 );
	}
}
@media screen and (min-width: 480px ) {
	#container {
		transform: scale( .8 );
	}
}
@media screen and (min-width: 520px ) {
	#container {
		transform: scale( .91 );
	}
}
@media screen and (min-width: 520px ) {
	#container {
		transform: scale( .91 );
	}
}
@media screen and (min-width: 570px ) {
	#container {
		transform: scale( 1 );
	}
}

#the-bars, #the-bars-2 {
	top: 0;
	left: -700px;
	z-index: 1;
	position: absolute;
	transform: rotate(30deg);
}

.poster-title,
.days-left-container,
.hours-left-container,
.bar {
	position: absolute;
	transform: rotate(30deg);
	transform-origin: top left;	

}

.poster-title {
	top: 40px;
	left: 40px;
	z-index: 2;
}

.days-left-container {
	top: 298px;
	right: 00px;
	z-index: 3;
}

.hours-left-container {
	top: 432px;
	left: 40px;
	z-index: 4;
}

#the-bars, #the-bars-2 {
	transform-style: preserve-3d;	
	animation: milkbar 3s infinite;
	animation-timing-function: linear;
}

#the-bars-2 {
	animation-delay: 1.5s;
}



@keyframes milkbar {
  0%   { left: -700px; top: 0; }
  100% { left: 500px; top: 693px; }
}

