<!doctype html>

<html lang="en">
	<head>
		<title>Swiss Metronome</title>
		<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="  crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone.js"></script>
		<meta charset="utf-8" />
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="style.css"></link>

		<meta name="description" content="The HTML5 Herald" />
		<meta name="author" content="Julian Klotz" />
	</head>

	<body>
		<div id="root" class="container">

		</div>

		<script type="text/template" id="speed-trainer">

<form>
		<p class="speed-trainer-headline">speed trainer</p>
		<div class="fl">
			<label class="label-small">from</label><br />
			<input id="js-speedtrainer-from" type="number" value="<%= from %>" />
		</div>
		<div class="fl">
			<label class="label-small">to</label><br />
			<input id="js-speedtrainer-to" type="number" value="<%= to %>"/>
		</div>
		<div class="fl">
			<label class="label-small">step</label><br />
			<input id="js-speedtrainer-stepsize" type="number" value="<%= stepSize %>" />
		</div>

		<div class="fl">
			<button id="js-btn-toggle-trainer"><%= isRunning === true ? 'stop' : 'start' %></button>
		</div>
		<div class="clear"></div>

	</form>
		</script>

		<script type="text/template" id="metronome">


<% if(isMuted === true ) { %>
			<div class="black-curtain"></div>
		<% } %>

		<button id="js-btn-mute" class="btn-mute">
			<% if(isMuted === true ) { %>
				start
			<% } else if (isMuted === false ) { %>
				mute
			<% } %>

		</button>
		<form>

			<div class="fl">
				<label class="">bpm</label><br />

				<input
					class="form-control"
					id="js-input-bpm"
					type="number"
					step="1"
					value="<%= bpm %>"
					min="<%= bpmMin %>"
					max="<%= bpmMax %>" />

				<span class="input-group-addon stepper" id="js-decrement-bpm">-</span>
				<span class="input-group-addon stepper" id="js-increment-bpm">+</span>
			</div>

			<div class="fl">
				<label class="">meter</label><br />

				<input
					class="form-control"
					id="js-input-meter"
					type="number"
					step="1"
					value="<%= meter %>"
					min="1"
					max="10" />

				<span class="input-group-addon stepper" id="js-decrement-meter">-</span>
				<span id="js-increment-meter" class="stepper input-group-addon">+</span>
			</div>
			<div class="clear"></div>
		</form>
		<div class="speed-trainer-node">

		</div>
		<div style="position: relative; height: 1000px;">
			<div class="animation-content">
				<div id="c1">
					<svg width="200" height="200" version="1.1" xmlns="http://www.w3.org/2000/svg">
				  <circle cx="100" cy="100" r="75" stroke="black" stroke-width="0" fill="#6f6f6f" />
					</svg>
				</div>

				<div id="c2">
					<svg width="250" height="250" version="1.1" xmlns="http://www.w3.org/2000/svg">
				  	<circle cx="125" cy="125" r="112.5" stroke="black" stroke-width="25" fill="transparent" />
					</svg>
				</div>
			</div>
		</div>

		</script>
		</script><script src="scripts.js"></script>
		</script><script src="fixIOSAudioContext.js"></script>
	</body>
</html>
