* {
	margin: 0px;
	padding: 0px;
}

a[href="#main"] {
	position: absolute;
	top: 0;
	right: 100%; /* moves off screen */
}

a[href="#main"]:focus {
	right: auto;
}

section {
	padding: 3rem 0;
}

main {
	width: 100%;
}


@media print {
	body > *:not(main) {
	display: none; }
}

body {
	background-color: rgba(253, 242, 220, .3);
	font-family: 'Libre Baskerville', 'EB Garamond', Garamond, Times, Georgia, -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	font-size: 112.5%; 
	line-height: 1.5;
}



h1, h2, h3, h4, h5, h6, .navigation-primary {
	font-family: 'Helvetica', 'Titillium Web', 'DM Serif Text', 'Futura', -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
	letter-spacing: -0.05rem;

}

h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
}

p {
	margin: 1rem 0;
}

em {
	font-size: 80%;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-style: normal;
	color: #770000;
	font-weight: bold;

}

h1 {
	font-size: 300%; 
}

h2 {
	font-size: 200%; 
}

h3 {
	font-size: 150%; 
}

h4 {
	font-size: 125%; 
}

h5 {
	font-size: 112.5%; 
}

h6 {
	font-size: 100%; 
}



img {
	max-width: 100%;
	height: auto;
}

/* --------------------------------------------------*/
.navigation-primary--list {
	

}

.navigation-primary--list-item {
	display: inline;
	padding: 1rem 1rem 1rem 0;

}


/* --------------------------------------------------*/

.center-inner {
	max-width: 48rem;
	margin: 2rem auto;
	width: calc(100% - 4rem);
}

.image-full {
	background: #e7e7e7;
	height: 140px;
}


#section-intro {
	background-color: #3f3f3f;
	color: #FDF2DC;
	padding: 3rem 0;
}

